# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
.DS_Store

*.mp3
blackberry-tablet.xml
VoiceRecorder.apk
src/icons/
